@page

@model her_care.Models.VReportModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
@section styles{
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>Search Results</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>
<style>
    td {
        padding: 7px;
    }
</style>

@{
    bool vDetail = false;
    @foreach (var t in ViewBag.MyModel){
        @if (t.isDetail){
            vDetail = true;
        }
    }

<div>
  
    <br>
<br>
<table width="100%" height="100%" style="background-color: white;" border="1">
    <tr>
        <td height="100%">
            <header>Report Volunteer Hours</header>
            @if (!vDetail){
            <table align="center" width="80%" border="1">
                <tr>
                    <td align="center"><font style="font-size: 20px"><strong>Date</strong></font></td>
                    <td align="center"><font style="font-size: 20px"><strong>First Name</strong></font></td>
                    <td align="center"><font style="font-size: 20px"><strong>Last Name</strong></font></td>
                    <td align="center"><font style="font-size: 20px"><strong>Hours</strong></font></td>
                </tr>
                @foreach (var rec in ViewBag.MyModel)
                {
                    <tr>
                        <td>
                            @rec.DateCreated
                        </td>
                        <td>
                            @rec.FName
                        </td>
                        <td>
                            @rec.LName
                        </td>
                        <td>
                            @rec.VolunteerHours
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4" align="center">
                        <a href="/VReport">Back</a>
                    </td>
                </tr>
            </table>
            }else{

            <table align="center" width="80%" border="1">
                <tr>
                    <td align="center"><font style="font-size: 20px"><strong>Date</strong></font></td>
                    <td align="center"><font style="font-size: 20px"><strong>First Name</strong></font></td>
                    <td align="center"><font style="font-size: 20px"><strong>Last Name</strong></font></td>
                    <td align="center"><font style="font-size: 20px"><strong>Event Name</strong></font></td>
                    <td align="center"><font style="font-size: 20px"><strong>Event Description</strong></font></td>
                    <td align="center"><font style="font-size: 20px"><strong>Hours</strong></font></td>

                </tr>
                @foreach (var rec in ViewBag.MyModel)
                {
                    <tr>
                        <td>
                            @rec.DateCreated
                        </td>
                        <td>
                            @rec.FName
                        </td>
                        <td>
                            @rec.LName
                        </td>
                        <td>
                            @rec.VolEvent
                        </td>
                        <td>
                            @rec.VolDescription
                        </td>
                        <td>
                            @rec.VolunteerHours
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="4" align="center">
                        <a href="/VReport">Back</a>
                    </td>
                </tr>
            </table>



            }




            <br>
        </td>
    </tr>
</table>


</div>


}

</html>