@page



@{
    Layout = "~/Pages/Shared/_Layout.cshtml";

}
@section styles{
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
<html>
<body>
        <div style="float: right; padding-top: 10px; padding-right: 10px;">
            <label style="font-family: Georgia;" onclick="window.print()">Print</label>
             <input type="image" src="~/images/printer.png" onclick="window.print()" width="20" height="20">
        </div>
        <div class="EditButtonPos">
             @foreach (var client in ViewBag.MyModel){
              <button onclick="location.href = '/EditClient?id=@client.Id';"  type="button" class="EditButton">Edit Client</button>
                }
        </div>
        <br />
        <div class="borderTOP" >
            <br />
            <br />
            <header >@foreach (var result in ViewBag.MyModel){@result.FirstName <a></a> @result.LastName}'s Client Profile</header>
        </div>
        <br />
        <br />
      
    
    @foreach (var client in ViewBag.MyModel){

        <div class="clientGrid">
            <div class="clientText"><label class="triangle-right"></label>
            Client Name: @client.FirstName @client.LastName</div>
            <div class="clientText"><label class="triangle-right"></label>
            Branch of Service: @client.BranchOfService <label>  @client.whichbranch </label></div>
        
            <div class="clientText"><label class="triangle-right"></label>
            Date of Birth: @client.DateOfBirth.ToString("d")</div>
            <div class="clientText"><label class="triangle-right"></label>
            Entry Date:  @client.EntryDate.ToString("d")</div>

            <div class="clientText"><label class="triangle-right"></label>
            Street Address: @client.AddressOne</div>
            <div class="clientText"><label class="triangle-right"></label>
            Discharge Date:  @client.DischargeDate.ToString("d")</div>

            <div class="clientText"><label class="triangle-right"></label>
            City: @client.City</div>
            <div class="clientText"><label class="triangle-right"></label>
            Disability Rating: @client.DisabilityRating%  @if(@client.DisabilityRatingNone){ <label> ,none</label> }</div>
            
            <div class="clientText"><label class="triangle-right"></label>
            State: @client.State</div>
            <div class="clientText"><label class="triangle-right"></label>
            Emergecy Contact: @client.EmergencyContactFirst @client.EmergencyContactLast</div>

            <div class="clientText"><label class="triangle-right"></label>
            ZipCode: @client.Zip</div>
            <div class="clientText"><label class="triangle-right"></label>
            Emergency Contact Phone: @client.EmergencyContactPhone</div>
            
            <div class="clientText"><label class="triangle-right"></label>
            Email Address: @client.EmailAddress</div>
            <div class="clientText"></div>

            <div class="clientText"><label class="triangle-right"></label>
            Phone Nunber: @client.Phone</div>
            <div class="clientText"></div>

            <div class="clientText"><label class="triangle-right"></label>
            SSN: @client.SSN</div>
            <div class="clientText"></div>

          
            
        </div>
        <br />

        
        @if (@client.CombatVet){ <label >Is a combat vet</label>}else{<label> not a combat vet</label>}
        <br />
        <br />
        <div style="height: 10px; width: 10px;background-color: rgb(15, 52, 107);border-radius: 50%;display: inline-block;">
             <h4 style="margin-top:10px;margin-left: 25px; width: 200px;">Duty Status: </h4>
        </div>
        <div style="margin-left: 25px;">
        @if (@client.ActiveDuty){ <label>Active Duty </label> } <br />
        @if (@client.Reserves){ <label>Reserves </label> } <br />
        @if (@client.NationalGuard){ <label>National Guard </label> } <br />
        </div>
        <div style="height: 10px; width: 10px;background-color: rgb(15, 52, 107);border-radius: 50%;display: inline-block;">
        <h4 style="margin-top:10px;margin-left: 25px; width: 250px;">Current Employment Status:</h4> 
        </div>
        <div style="margin-left: 25px;">
        @if (@client.Employed) { <label>Employed</label> } <br />
        @if (@client.Unemployed) { <label>Unemployed</label> } <br />
        @if (@client.Student) { <label>Student</label> } <br />
        @if (@client.SelfEmployed){ <label>Self Employed</label> } <br />
        @if (@client.Contractor){ <label>Contractor</label> } <br />
        @if (@client.Intern){ <label>Intern</label> } <br /> 
        @if (@client.WorkStudy){ <label>Work Study</label> } <br />
        @if (@client.OtherEmployed){ <label>Other</label> } <br />
        </div>
        

       
        <div style="height: 10px; width: 10px;background-color: rgb(15, 52, 107);border-radius: 50%;display: inline-block;">
        <h4 style="margin-top:10px;margin-left: 25px; width: 200px;">Living Situation:</h4>
        </div>
        <div style="margin-left: 25px;">
        @if (@client.OnStreet){ <label>On The Street</label> } <br />
        @if (@client.SofaSurfing){ <label>Sofa Surfing</label> } <br />
        @if (@client.Shelter){ <label>Shelter</label> } <br />
        @if (@client.TransitionalHousing){ <label>Transitional Housing</label> } <br />
        @if (@client.GroupHome){ <label>Group Home</label> } <br />
        @if (@client.Rental){ <label>Rental</label> } <br />
        @if (@client.OwnHome){ <label>Owns a home</label> } <br />
        @if (@client.OtherLiving){ <label>Other</label> } <br />
        </div>
        <div class="nice">
        <div style="height: 10px; width: 10px;background-color: rgb(15, 52, 107);border-radius: 50%;display: inline-block;">
       <h4 style="margin-top:10px;margin-left: 25px; width: 200px;">Living Arrangements:</h4>
        </div>
        <div style="margin-left: 25px;">
       @if (@client.FriendsOrRelatives){ <label>Friends/Relatives</label> } <br />
       @if (@client.Alone){ <label>Alone</label> } <br />
       @if (@client.Temporary){ <label>Temporary</label> } <br />
       @if (@client.Permanent){ <label>Permanent</label> } <br />
        </div>

       <div style="height: 10px; width: 10px;background-color: rgb(15, 52, 107);border-radius: 50%;display: inline-block;">
       <h4 style="margin-top:10px;margin-left: 25px; width: 200px;">Services needed:</h4>
       </div>
        <div style="margin-left: 25px;">
       @if (@client.BusinessResources){ <label>Business Resouces</label> } <br />
       @if (@client.DayCare){ <label>Day Care</label> } <br />
       @if (@client.Housing){ <label>Housing</label> } <br />
       @if (@client.Clothing){ <label>Clothing</label> } <br />
       @if (@client.DisabilityClaim){ <label>Disability Claim</label> } <br />
       @if (@client.Legal){ <label>Legal</label> } <br />
       @if (@client.Counseling){ <label>Counseling</label> } <br />
       @if (@client.EducationalOrVocationalRehab){ <label>Educational or Vocational Rehab</label> } <br />
       @if (@client.Utilities){ <label>Utilities</label> } <br />
       @if (@client.Food){ <label>Food</label> } <br />
       @if (@client.Employment){ <label>Employment</label> } <br />
       @if (@client.Transportation){ <label>Transportation</label> } <br />
       @if (@client.OtherService){ <label>Other</label> }  <br />
      </div>
        </div>
      <div style="height: 10px; width: 10px;background-color: rgb(15, 52, 107);border-radius: 50%;display: inline-block;">
      <h4 style="margin-top:10px;margin-left: 25px; width: 200px;">Case Notes: </h4>
      </div>
      <br />
      <label  style="margin-left: 25px;"> @client.CaseNotes </label>
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />
      <br />


    }    
         <div class="CPGrid"> 
              <button onclick="location.href = '/EmergencyContact';" type="button" class="buttonHome" :hover>Emergency Contact</button> 
              <button onclick="location.href = '/PhotoConsent';" type="button" class="buttonHome" :hover>Photo Consent Form</button> 
              @foreach (var client in ViewBag.MyModel){
              <button onclick="location.href = '/MonetaryAssistance?id=@client.Id';"  type="button" class="buttonHome" :hover> Monetary assistance</button>
              
                }
        </div>
    
    </body>
</html>