@page

@model her_care.Models.SearchModel

@{
    Layout = "~/Pages/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html>
<head>
        <meta name="viewport" content="width-device-width"/>
        <title>SearchResults</title>
        <link rel="site" href="~/css/site.css" /> 
    </head>




<div>
  
    <table width="60%" align="center">
    <tr align="center">
        <td>
            <h1>Client and Volunteer Search</h1>
            <h1>Search Results</h1>
        </td>
    </tr>
    <tr align="center">
        <td>

            <table border="1" width="100%">
                <tr>
                    <td><strong>ID</strong></td>
                    <td><strong>First Name</strong></td>
                    <td><strong>Last Name</strong></td>
                </tr>
               
                    
                
                @foreach (var result in ViewBag.MyModel)
                { 
                   
                    <tr>
                        <td>@result.Id
                            @if(result.isClient){@Html.Label("[Client]")}
                            @if(!result.isClient){@Html.Label("[Volunteer]")}
                        </td>
                        <td>@result.FName</td>
                        <td>@result.LName</td>  
                        <td>    
                            @if(result.isClient){        
                             @Html.ActionLink("Details", "ClientProfile", new {id=result.Id })
                            }
                            @if(!result.isClient){
                                @Html.ActionLink("Details", "VolunteerProfile", new {id=result.Id })
                            }
            
                         </td>                      
                    </tr>
                
                }
                
        </td>
    </tr>
</table>
</table><a asp-page="~/Pages/Shared/Client">Click here for client page</a>
</div>


   

</html>