@page
@model CSignInModel
@{
    ViewData["Title"] = "Home page";
}
@using(Html.BeginForm("Submit", "SignIn", "", FormMethod.Post, false, ""))
{
    <!DOCTYPE html>
    <html>
    <head>
        <meta name="viewport" content="width-device-width"/>
        <link rel="site" href="~/css/site.css" /> 
    </head>

    <body>
    <div class="panel panel-success">
        <div class="panel-body">
                    <div class="form-grouprightVol">

        <label>First Name:</label><br/>
        @Html.TextBox("FName", "", new { placeholder = "", required="required" }) 
        <br /><br/>
        
        <label>Last Name:</label><br/>
        @Html.TextBox("LName", "", new { placeholder = "", required="required" })
        <br /><br/>
        
        <label>Organization:</label><br/>
        @Html.TextBox("Organization", "", new { placeholder = "", required="required" })
        <br/><br/>
        
        <label>E-Mail:</label><br/>
        @Html.TextBox("eMail", "", new { placeholder = "", required="required" })
        <br /><br/>

        <label>Branch of Service:</label><br/>
        @{List<SelectListItem> listItems= new List<SelectListItem>();
        listItems.Add(new SelectListItem
        {
            Text = "Air Force",
            Value = "1"
            });
            listItems.Add(new SelectListItem
            {
                Text = "Army",
                Value = "2"
                });
                listItems.Add(new SelectListItem
                                    {
                                        Text = "Coast Guard",
                                        Value = "3"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Marine Corps",
                                        Value = "4"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Navy",
                                        Value = "5",
                                    });
                            }
@Html.DropDownListFor(model => model.BranchofService, listItems, "-- Select Status --")
        <br/><br/><br/><input type="submit" Value="Submit">
        
        </div>
        </div>
        </div>
        </body>
    </html>
}