@page
@model CSignInModel
@{
    ViewData["Title"] = "Sign In";
}
@section styles{
    <link href="@Url.Content("~/css/site.css")" rel="stylesheet" type="text/css" />
}
@using(Html.BeginForm("Submit", "SignIn", "", FormMethod.Post, false, ""))
{
    <table align="center">
        <tr>
            <td colspan="4" align="center">
                <h1>Sign In</h1>
            </td>
        </tr>
        <tr>
            <td colspan="4">
                <hr style="border-color: black;">
            </td>
        </tr>
        <tr >
            <td style="padding: 10px;">
                First Name:  
            </td>
            <td style="padding: 10px;">
                @Html.TextBox("FName", "", new { placeholder = "", required="required" })
            </td>
            <td style="padding: 10px;">
                Last Name:  
            </td>
            <td style="padding: 10px;">
                @Html.TextBox("LName", "", new { placeholder = "", required="required" })
            </td>
        </tr>
        <tr>
            <td style="padding: 10px;">
                Organization:  
            </td>
            <td style="padding: 10px;">
                @Html.TextBox("Organization", "", new { placeholder = "", required="required" })
            </td>      
            <td style="padding: 10px;">
                Email:  
            </td>
            <td style="padding: 10px;">
                @Html.TextBox("eMail", "", new { type = "email", placeholder = "", required="required" })
            </td>
        </tr>
        <tr>
            <td style="padding: 10px;">
                Branch of Service:  
            </td>
            <td style="padding: 10px;" colspan="3">
                @{List<SelectListItem> listItems= new List<SelectListItem>();
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Air Force",
                                        Value = "1"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Army",
                                        Value = "2"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Coast Guard",
                                        Value = "3"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Marine Corps",
                                        Value = "4"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Navy",
                                        Value = "5",
                                    });

                                    
                            }
@Html.DropDownListFor(model => model.BranchofService, listItems, "-- Select Status --")
            </td>
        </tr>
        <tr>
            <td colspan="4" align="center" style="padding: 10px;">
                <input type="submit" Value="Submit">
            </td>
        </tr>
    </table>
}