@page
@model CSignInModel
@{
    ViewData["Title"] = "Home page";
}
@using(Html.BeginForm("Submit", "SignIn", "", FormMethod.Post, false, ""))
{
    <table width="60%" align="center">
        <tr>
            <td>
                First Name: 
            </td>
            <td>
                @Html.TextBox("FName", "", new { placeholder = "", required="required", autocomplete="off"})
            </td>    
                
            <td>
                LastName:  
            </td>
            <td>
                @Html.TextBox("LName", "", new { placeholder = "", required="required", autocomplete="off" })
            </td>
        </tr>
        <tr>
            <td>
                Organization:  
            </td>
            <td>
                @Html.TextBox("Organization", "", new { placeholder = "", required="required", autocomplete="off" })
            </td>
        </tr>
        <tr>
            <td>
                E-Mail:
            </td>
            <td>
                @Html.TextBox("eMail", "", new { placeholder = "", required="required", autocomplete="off" })
                <br>
            </td>
        </tr>
        <tr>
            <td>
                Branch of Service:  
            </td>
            <td>
                @{List<SelectListItem> listItems= new List<SelectListItem>();
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Air Force",
                                        Value = "1"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Army",
                                        Value = "2"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Coast Guard",
                                        Value = "3"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Marine Corps",
                                        Value = "4"
                                    });
                                    listItems.Add(new SelectListItem
                                    {
                                        Text = "Navy",
                                        Value = "5",
                                    });

                                    
                            }
                @Html.DropDownListFor(model => model.BranchofService, listItems, "-- Select Status --")
                </td>
        </tr>
        <tr>
            <td colspan="4" align="center">    
                        <input type="submit" Value="Submit">
            </td>
        </tr>
    </table>
}